/* 
dunkelblau: #253439
beige: #B29E84
grau/schatten: #7c898b
*/



/* Kopfzeile */

.logo-header{
    width: 200px
}

.headline{
    position: absolute;
    left: 32px;
    top: 230px; 
}


.menu {
        position: absolute;
    right: 32px;
    left: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-punkt {
    cursor: pointer;
    color: #253439;
    text-decoration: none;
    background-color: #7c898b;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 4px #566568; 
    display: block;
    margin-bottom: 10px;
}

.akt-menu-punkt {
    color: #B29E84;
    text-decoration: none;
    background-color: #7c898b;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 4px #566568; 
    display: block;
    margin-bottom: 10px;
}

.menu-punkt:hover{
    color: #B29E84;
}

.bar {
    display: block;
    width: calc(100vw*0.8);
    height: 12pt;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #333;
}


/* Body */

body {
    background-color: #253439;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #B29E84;
    font-size: 46pt;
}

.sub-h1{
    font-family: 'Open Sans', sans-serif;
    color: #7c898b;
    font-size: 12pt;
}

h2 {
    font-family: 'Roboto', sans-serif;
}


p {
    font-family: 'Open Sans', sans-serif;
    color: #7c898b;
}



/* Rechner */

.rechner{
    position: absolute;
    top: 380px;
    color: #7c898b;
    font-size: 16pt;
    left: 32px;
}

.ergebnisse{
    position: absolute;
    top: 750px;
    color: #253439;
    background-color: #7c898b;
    font-size: 16pt;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 4px #566568;
    left: 32px;
    }


.input-rechner {
        font-size: 16pt; 
        padding: 5px; 
    }

    .button {
        color: #253439; /* Textfarbe */
        background-color: #B29E84; /* Hintergrundfarbe */
        border: none; /* Kein Rand */
        border-radius: 10px; /* Abgerundete Ecken */
        padding: 10px 15px; /* Innenabstand */
        margin: 10px; /* Außenabstand */
        box-shadow: 1px 1px 4px #9f8c75; /* Schatten */
        font-family: 'Open Sans', sans-serif; /* Schriftart */
        font-size: 14pt; /* Größere Schriftgröße */
        cursor: pointer; /* Cursor-Stil */
        transition: background-color 0.3s; /* Sanfter Übergang für Hintergrundfarbe */
    }
    
    .button:hover {
        color: #7c898b; /* Hintergrundfarbe beim Hover */
    }


/* Allgemeiner Stil für Tabellen-Container */
.agendaTabelle, .naechsteTermine {
    position: absolute;
    top: 360px; /* Anpassen basierend auf der Höhe der Menüleiste und des Logos */
    left: 15px; /* Kleiner Rand links */
    right: 15px; /* Kleiner Rand rechts */
    font-family: 'Open Sans', sans-serif; /* Schriftart */
    color: #253439; /* Textfarbe */
    background-color: #7c898b; /* Hintergrundfarbe */
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 1px 1px 4px #566568; /* Schatten */
    padding: 5px; /* Innenabstand */
    overflow-x: auto; /* Scrollbar für horizontales Scrollen */
}

/* Stil für Tabellen */
.agendaTabelle table, .naechsteTermine table {
    border-collapse: collapse; /* Entfernt den Abstand zwischen den Zellgrenzen */
    width: 100%; /* Volle Breite */
    font-size: 12pt; /* Schriftgröße */
}

.agendaTabelle th, .agendaTabelle td, 
.naechsteTermine th, .naechsteTermine td {
    border: 1px solid #253439; /* Rand der Zellen */
    padding: 8px; /* Innenabstand der Zellen */
    text-align: left; /* Textausrichtung */
}
