/* 
dunkelblau: #253439
beige: #B29E84
grau/schatten: #7c898b
*/



.kopfzeile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #253439; /* Hintergrundfarbe des Blocks */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 32px; /* Vertikaler und horizontaler Abstand */
    z-index: 1000;
}

.logo-header {
    width: 100px;
}

.headline{
    position: absolute;
    left: 32px;
    top: 230px; 
}


.inhalt{
    padding-top: 100px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-punkt {
    cursor: pointer;
    color: #253439;
    text-decoration: none;
    background-color: #7c898b;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 4px #566568; 
    display: inline-flex;
    margin-bottom: 10px;
}

.akt-menu-punkt {
    color: #B29E84;
    text-decoration: none;
    background-color: #7c898b;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 4px #566568; 
    display: inline-flex;
    margin-bottom: 10px;
}

.menu-punkt:hover{
    color: #B29E84;
}

.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #B29E84;
    margin: 6px 0px;
    transition: 0.4s;
}


.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #B29E84;
    padding-top: 120px;
    transition: 0.4s;

}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
        display: block; 
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center; 
        padding: 12px 16px;
        background-color: #7c898b;

        color: #253439;
        text-decoration: none;
}

.mobile-nav a:hover {
    color: #B29E84;
}

/* Body */

body {
    background-color: #253439;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #B29E84;
    font-size: 46pt;
    margin-left: 35px;
}

.sub-h1{
    font-family: 'Open Sans', sans-serif;
    color: #7c898b;
    font-size: 12pt;
}

h2 {
    font-family: 'Roboto', sans-serif;
}


p {
    font-family: 'Open Sans', sans-serif;
    color: #7c898b;
}



/* Rechner */

.rechner{
    color: #7c898b;
    font-size: 16pt;
    left: 32px;
}


.input-rechner {
        font-size: 16pt; 
        padding: 5px; 
    }

.rechner-zeile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.rechner-zeile label {
    text-align: left;
    flex-basis: 40%; /* Stellt die Breite des Labels ein */
    padding-left: 15px;
}

.rechner-zeile .input-rechner {
    text-align: right;
    flex-basis: 120px; /* Stellt die Breite des Eingabefeldes ein */
    margin-right: 15px;
}

.rechner-buttons {
    display: flex;
    justify-content: center; /* Zentriert die Buttons */
    gap: 10px;
}   

.button {
    color: #253439; /* Textfarbe */
    background-color: #B29E84; /* Hintergrundfarbe */
    border: none; /* Kein Rand */
    border-radius: 10px; /* Abgerundete Ecken */
    padding: 10px 15px; /* Innenabstand */
    margin: 30px; /* Außenabstand */
    box-shadow: 1px 1px 4px #9f8c75; /* Schatten */
    font-family: 'Open Sans', sans-serif; /* Schriftart */
    font-size: 14pt; /* Größere Schriftgröße */
    cursor: pointer; /* Cursor-Stil */
    transition: background-color 0.3s; /* Sanfter Übergang für Hintergrundfarbe */
}
    
    .button:hover {
        color: #7c898b; /* Hintergrundfarbe beim Hover */
    }


.ergebnisse{
    color: #253439;
    background-color: #7c898b;
    font-size: 16pt;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 4px #566568;
    left: 32px;
    }
    
.ergebnisse p {
    color: #253439;
    background-color: #7c898b;
    font-size: 16pt;
    margin: 5px;
    left: 32px;
}


.ergebniszeile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.ergebnistitel {
    text-align: left;
    flex: 1;
    margin-left: 15px;
}

.ergebniswert {
    text-align: right;
    flex: 1;
    margin-right: 15px;
}

.ergebnistitelFett {
    font-weight: bold;
    text-align: left;
    flex: 1;
    margin-left: 15px;
}

.ergebniswertFett {
    font-weight: bold;
    text-align: right;
    flex: 1;
    margin-right: 15px;
}

/* Allgemeiner Stil für Tabellen-Container */
.agendaTabelle, .naechsteTermine {
    left: 15px; /* Kleiner Rand links */
    right: 15px; /* Kleiner Rand rechts */
    font-family: 'Open Sans', sans-serif; /* Schriftart */
    color: #253439; /* Textfarbe */
    background-color: #7c898b; /* Hintergrundfarbe */
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 1px 1px 4px #566568; /* Schatten */
    padding: 5px; /* Innenabstand */
    overflow-x: auto; /* Scrollbar für horizontales Scrollen */
}

/* Stil für Tabellen */
.agendaTabelle table, .naechsteTermine table {
    border-collapse: collapse; /* Entfernt den Abstand zwischen den Zellgrenzen */
    width: 100%; /* Volle Breite */
    font-size: 12pt; /* Schriftgröße */
    border: none;
}

.agendaTabelle th, .agendaTabelle td, 
.naechsteTermine th, .naechsteTermine td {
    border: none; /* Rand der Zellen */
    padding: 8px; /* Innenabstand der Zellen */
    text-align: left; /* Textausrichtung */
}
