/* 
schwarz: #000000
weiss: #FFFFFF
silber: #B9C2C4
grau: #6D6D6D
hellgrau: #E8E8E8
dunkelgrau: #3D3D3D
gold: #947F57
*/

html, body {
    height: 100%; /* Stellt sicher, dass der HTML- und BODY-Tag die volle Bildschirmhöhe einnehmen */
    display: flex;
    flex-direction: column; /* Ordnet Elemente in einer Spalte an */
}

.kopfzeile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #947F57; /* Hintergrundfarbe des Blocks */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 32px; /* Vertikaler und horizontaler Abstand */
    z-index: 1000;
}

.logo-header {
    width: 100px;
}

.headline{
    position: absolute;
    left: 32px;
    top: 230px; 
}

.inhalt{
    padding-top: 100px;
    flex: 1; /* Nimmt den verfügbaren Platz ein, so dass der Footer unten bleibt */
}

.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFFFFF;
    margin: 6px 0px;
    transition: 0.4s;
}


.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #3D3D3D;
    padding-top: 120px;
    transition: 0.4s;

}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
        display: block;
        font-size: 16pt; 
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center; 
        padding: 12px 16px;
        background-color: #947F57;

        color: #FFFFFF;
        text-decoration: none;
}

.mobile-nav a:hover {
    color: #6D6D6D;
}

/* Body */

body {
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 34pt;
    margin-left: 35px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #947F57;
    font-size: 24pt;
    margin-left: 10px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: bold;
    margin-left: 10px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    text-align: justify;
    hyphens: auto;
}

.legende {
    font-size: 8pt;
    color: #FFFFFF;
    margin-left: 5px;
}

/* Rechner */

.rechner{
    color: #FFFFFF;
    font-size: 12pt;
    left: 32px;
}


.input-rechner {
        font-size: 12pt; 
        padding: 5px; 
    }

.rechner-zeile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.rechner-zeile label {
    text-align: left;
    flex-basis: 30%; /* Stellt die Breite des Labels ein */
    padding-left: 15px;
}

.rechner-zeile .input-rechner, .rechner-zeile select {
    width: 50%;
    margin-right: 15px;
}

.rechner-buttons {
    display: flex;
    justify-content: center; /* Zentriert die Buttons */
    gap: 10px;
}   

.button {
    color: #FFFFFF; /* Textfarbe */
    background-color: #947F57; /* Hintergrundfarbe */
    border: none; /* Kein Rand */
    border-radius: 10px; /* Abgerundete Ecken */
    padding: 10px 15px; /* Innenabstand */
    margin-top: 30px; /* Außenabstand */
    margin-bottom: 30px;
    box-shadow: 1px 1px 4px #FFFFFF; /* Schatten */
    font-family: 'Open Sans', sans-serif; /* Schriftart */
    font-size: 12pt; /* Größere Schriftgröße */
    cursor: pointer; /* Cursor-Stil */
    transition: background-color 0.3s; /* Sanfter Übergang für Hintergrundfarbe */
}
    
    .button:hover {
        color: #B9C2C4; /* Hintergrundfarbe beim Hover */
    }


.ergebnisse{
    color: #3D3D3D;
    background-color: #E8E8E8;
    font-size: 12pt;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 6px #3D3D3D;
    left: 32px;
    }
    
.ergebnisse p {
    color: #3D3D3D;
    background-color: #E8E8E8;
    font-size: 16pt;
    margin: 5px;
    left: 32px;
}


.ergebniszeile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.ergebnistitel {
    text-align: left;
    flex: 1;
    margin-left: 15px;
}

.ergebniswert {
    text-align: right;
    flex: 1;
    margin-right: 15px;
}

.ergebnistitelFett {
    font-weight: bold;
    text-align: left;
    flex: 1;
    margin-left: 15px;
}

.ergebniswertFett {
    font-weight: bold;
    text-align: right;
    flex: 1;
    margin-right: 15px;
}

/* Stil für Tabellen-Container */
.agendaTabelle, .naechsteTermine {
    margin: 0 5px; /* 10px Abstand links und rechts */
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background-color: none;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-x: auto;
}

/* Stil für Tabellen */
.agendaTabelle table, .naechsteTermine table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; /* Gleichmäßige Verteilung der Spaltenbreiten */
    font-size: 10pt;
    border: none;
}

/* Stile für Zellen */
.agendaTabelle th, .agendaTabelle td, 
.naechsteTermine th, .naechsteTermine td {
    border: none;
    padding: 2px;
    text-align: left;
}

/* Stil für Kopfzeilen-Zellen (th) */
.agendaTabelle th, .naechsteTermine th {
    background-color: transparent; /* Keine Hintergrundfarbe für Kopfzeilen-Zellen */
    color: #947F57; /* Farbe für den Text in Kopfzeilen-Zellen */
    font-size: 12pt; /* Schriftgröße */
    padding-bottom: 5pt;
}

/* Stil für alle Tabellenzeilen-Zellen (td) */
.agendaTabelle td, .naechsteTermine td {
    background-color: #3D3D3D; /* Hintergrundfarbe für normale Zeilen */
    padding: 5px; /* Innenabstand */
    text-align: left; /* Textausrichtung */
    color:#B9C2C4
}

/* Stil für jede zweite Zeile */
.agendaTabelle tr:nth-child(even) td, .naechsteTermine tr:nth-child(even) td {
    background-color: #6D6D6D; /* Halbtransparentes Weiß für jede zweite Zeile */
    color: #FFFFFF;
}

/* Abgerundete Ecken für die erste und letzte Zelle jeder Zeile */
.agendaTabelle td:first-child, .naechsteTermine td:first-child {
    border-top-left-radius: 10px;
}

.agendaTabelle td:last-child, .naechsteTermine td:last-child {
    border-bottom-right-radius: 10px;
}

/* Erste Zelle jeder Zeile */
.agendaTabelle th:first-child, .agendaTabelle td:first-child, 
.naechsteTermine th:first-child, .naechsteTermine td:first-child {
    padding-left: 10px; /* Abstand von links */
}

/* Rechtsbündige Ausrichtung für letzte Spalte */
.agendaTabelle th:last-child, .agendaTabelle td:last-child, 
.naechsteTermine th:last-child, .naechsteTermine td:last-child {
    text-align: right;
    padding-right: 10px;
}


.footer {
    background-color: #000; /* Hintergrundfarbe der Fußzeile */
    color: #947F57;
    font-size: 10pt;
    text-align: center; /* Zentriert den Text in der Fußzeile */
    padding: 10px 0; /* Polsterung oben und unten */
}

